.DS_Store
node_modules
/dist
src/css/fontawesome
/dev_resources/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

public/assets
public/fonts
public/js
public/3dModel
public/projects/chameleonMan/ASSETS
public/projects/chameleonMan/BG
public/projects/chameleonMan/CG
public/projects/chameleonMan/CHAR
public/projects/chameleonMan/FACE