@import url('https://fonts.googleapis.com/css?family=Montserrat')
@import url('https://fonts.googleapis.com/css?family=Yantramanav')
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru')
  
@font-face
  font-family: VCR
  src: url('/fonts/vcr.ttf')

@font-face
  font-family: Logo
  src: url('/fonts/makin.otf')

@font-face
  font-family: Illuminati
  src: url('/fonts/corp.ttf')

@font-face
  font-family: Alien
  src: url('/fonts/alienI.ttf')

@font-face
  font-family: topLogo
  src: url('/fonts/rounded-mplus-1m-bold.ttf')