//old colors
$neonRed: #F4225A; //#F71E50;
$lightNeonRed: lighten($neonRed, 40%);
$neonBlue: mix(#42C6FF, #358cff);
$lightNeonBlue: lighten($neonBlue, 40%);
$neonGreen: #23F893;
$neonPink: #FF0081;//#ED26EE;
$outrunYellow: rgba(244, 182, 12, 0);
$white: white;
$sideGradient:  #040407 50%, #9B085D 100%;

//2031
$imgFilter: sepia() saturate(200%) hue-rotate(90deg)
$neonBlack: #23131e