@font-face
  font-family: VCR
  src: url('/fonts/vcr.ttf')

@font-face
  font-family: Logo
  src: url('/fonts/makin.otf')

@font-face
  font-family: Illuminati
  src: url('/fonts/corp.ttf')
  //I like corp

@font-face
  font-family: Alien
  src: url('/fonts/alienI.ttf')